interegular
jinja2
lark
nest_asyncio
numpy
cloudpickle
diskcache
pydantic>=2.0
scipy
torch>=2.1.0
numba
joblib
referencing
jsonschema
requests
transformers

vllm>=0.3.0
ray==2.9.0
uvicorn
fastapi
pydantic>=2.0

outlines